/* src/components/Admin/UserManagementPage.css */

*{
    margin: 0;
    padding: 0;
    border: none;
  }
  
  
  .user-management-container {
    margin: 20px;
  }
  
  /* src/components/Admin/UserManagementPage.css */
  
  .content-table {
    border-collapse: collapse;
    margin: 30px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: scroll;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  
  .content-table thead tr {
    background-color: rgb(113,47,145);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(113,47,145);
  }
  /* border-bottom: 2px solid #009879; */
  
  tr {
    transition: transform 0.3s ease; /* Add transform transition */
    padding: 0;
    border-radius: 10px  !important; /* Apply border radius */
  }
  
  tr:nth-child(even) {
    background-color: #d4fce90e;
    font-weight: bold;
    color: #009879;
  }
  
  tr:hover {
    background-color: rgb(66,75,83);
    color:rgb(170,187,17);
    box-shadow: 0 0 30px rgb(113,47,145,1);
    transform: scaleX(1.02); /* Scale the row horizontally */
  }
  /* tr:hover {
    background-color: #324857;
    color: #fff;
    box-shadow: 0 0 20px rgb(21, 255, 243);
    transform: scaleX(1.02);
  } */
  
  
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #45a049;
    color: rgb(66,75,83);
  }
  
  .delete-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .delete-confirmation p {
    margin: 0 0 10px;
  }
  
  .delete-confirmation button {
    margin-right: 10px;
  }
  
  .pwd-td {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  /* src/components/Admin/UserManagementPage.css */
  
  .filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-select, .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin-left: 10px;
  }
  
  .filter-select select, .search-container input {
    justify-content: space-between;
    width: 50%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .filter-select button, .search-container button {
    margin-left: 10px;
  }
  
  
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: #0056b3;
  }